    
#title {
    color: crimson;
    text-align: center;
    font-family: 'Rubik Gemstones', cursive;
}

.movie-container {
  display: flex;
  align-items: flex-start; 
  gap: 20px;               
  margin-bottom: 30px;    
}

.movie-container img {
  width: 200px;            
  height: auto;
  object-fit: cover;       
}

.movie-info {
  flex: 1;                 
}

.movie-title{
  font-family: 'DynaPuff', cursive;
}

body {
    background-color: bisque;
    margin: 20px;
}

.movie-1 {
    font-family: 'Iosevka Charon Mono', monospace;
    font-size: 20px;
}

.movie-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
